[build-system]
requires      = ["poetry-core>=1.1.0rc1"]
build-backend = "poetry.core.masonry.api"


[tool.poetry]
name          = "slate.py"
version       = "0.4.1"
description   = "A discord.py compatible wrapper for lavalink-like applications."
license       = "MIT"
authors       = ["Axel <axelancerr@gmail.com>"]
readme        = "README.md"
homepage      = "https://github.com/Axelware/slate.py"
repository    = "https://github.com/Axelware/slate.py"
documentation = "https://slate-py.readthedocs.io/en/latest/"
keywords      = ["obsidian", "lavalink", "api", "wrapper", "async"]
include       = ["CHANGELOG.md", "LICENSE"]
classifiers = [
    "Framework :: AsyncIO",
    "Topic :: Software Development",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Development Status :: 4 - Beta",
    "Programming Language :: Python :: Implementation :: CPython",
    "Operating System :: OS Independent",
    "Environment :: Other Environment",
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "Typing :: Typed"
]
packages = [
    { include = "slate" },
    { include = "slate/**/*.py" },
    { include = "slate/py.typed" },
]



[tool.poetry.dependencies]
python            = "^3.10.0"
aiohttp           = "^3.8.0"
typing_extensions = "^4.3.0"
spoti-py          = "^0.1.0"
discord-py        = "^2.0.0"


[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
sphinx             = "5.1.1"
sphinxcontrib-trio = "1.1.2"
sphinx-copybutton  = "0.5.0"
sphinx-inline-tabs = "2022.1.2b11"
furo               = "2022.6.21"


[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
jishaku = "*"


[tool.poetry.urls]
"Issue Tracker" = "https://github.com/Axelware/slate.py/issues"
"Discord"       = "https://discord.com/invite/w9f6NkQbde"


[tool.pyright]
include                = ["slate"]
pythonVersion          = "3.10"
typeCheckingMode       = "strict"
useLibraryCodeForTypes = true

reportUnknownMemberType = false
reportPrivateUsage      = false
reportImportCycles      = false
