aiodns>=3.0.0
aiohttp>=3.7.4post0
aiospotify @ git+https://github.com/Axelancerr/aiospotify.git@main#egg=aiospotify
async_timeout>=3.0.1
cchardet>=2.1.7
discord.py @ git+https://github.com/Rapptz/discord.py.git@master#egg=discord
